<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="com.manhmoc.edgebar">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Edge Bar"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ScannerHelper" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:exported="true" />

        <receiver android:name=".ToggleReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.manhmoc.edgebar.TOGGLE_LOCK" />
                <action android:name="com.manhmoc.edgebar.TOGGLE_HOME" />
                <action android:name="com.manhmoc.edgebar.TOGGLE_MACRO" />
                <action android:name="com.manhmoc.edgebar.TOGGLE_DUAL_HOME" />
              <action android:name="com.manhmoc.edgebar.TOGGLE_ACC_HOME_ON" />
            <action android:name="com.manhmoc.edgebar.TOGGLE_ACC_HOME_OFF" />
                <action android:name="com.manhmoc.edgebar.TOGGLE_APP" />
            </intent-filter>
        </receiver>

        <service
            android:name=".EdgeBarService"
            android:exported="true"
            android:label="Edge Bar Trợ Năng"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service_config" />
        </service>

        <service android:name=".HomescreenService" android:exported="false" />
<service android:name=".AccessibleHomeService" android:exported="false" android:foregroundServiceType="specialUse" />
<service android:name=".QsAccHomeTile" android:label="EB Homacc" android:icon="@android:drawable/ic_dialog_map" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
    <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
    </intent-filter>
</service>
        <service
            android:name=".QsLockTile"
            android:label="EB Lacck"
            android:icon="@android:drawable/ic_lock_lock"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service android:name=".QsHomeTile"
    android:label="EB Home"
    android:icon="@android:drawable/ic_menu_crop"
    android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
    android:exported="true">
    <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
    </intent-filter>
</service>

<service android:name=".QsMorseTile"
    android:label="EB MorseLock"
    android:icon="@android:drawable/ic_lock_lock"
    android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
    android:exported="true">
    <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
    </intent-filter>
</service>
        <service android:name=".Tile1" android:label="Tile 1" android:icon="@drawable/ic_launcher_fg" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter></service>
        <service android:name=".Tile2" android:label="Tile 2" android:icon="@drawable/ic_launcher_fg" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter></service>
        <service android:name=".Tile3" android:label="Tile 3" android:icon="@drawable/ic_launcher_fg" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter></service>
        <service android:name=".Tile4" android:label="Tile 4" android:icon="@drawable/ic_launcher_fg" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter></service>
        <service android:name=".Tile5" android:label="Tile 5" android:icon="@drawable/ic_launcher_fg" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter></service>
        <service android:name=".Tile6" android:label="Tile 6" android:icon="@drawable/ic_launcher_fg" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter></service>
        <service android:name=".Tile7" android:label="Tile 7" android:icon="@drawable/ic_launcher_fg" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter></service>
        <service android:name=".Tile8" android:label="Tile 8" android:icon="@drawable/ic_launcher_fg" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter></service>
        <service android:name=".Tile9" android:label="Tile 9" android:icon="@drawable/ic_launcher_fg" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter></service>
        <service android:name=".Tile10" android:label="Tile 10" android:icon="@drawable/ic_launcher_fg" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter></service>
        <service android:name=".Tile11" android:label="Tile 11" android:icon="@drawable/ic_launcher_fg" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter></service>
        <service android:name=".Tile12" android:label="Tile 12" android:icon="@drawable/ic_launcher_fg" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter></service>
        <service android:name=".Tile13" android:label="Tile 13" android:icon="@drawable/ic_launcher_fg" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter></service>
        <service android:name=".Tile14" android:label="Tile 14" android:icon="@drawable/ic_launcher_fg" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter></service>
        <service android:name=".Tile15" android:label="Tile 15" android:icon="@drawable/ic_launcher_fg" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter></service>

<receiver
            android:name=".EdgeAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
