<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <queries> <package android:name="com.deniscerri.ytdlnis" /> <package android:name="com.deniscerri.ytdl" /> </queries>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="Edge Bar" android:supportsRtl="true" android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        <activity android:name=".MainActivity" android:exported="true"> <intent-filter> <action android:name="android.intent.action.MAIN" /> <category android:name="android.intent.category.LAUNCHER" /> </intent-filter> </activity>
        <activity android:name=".ScannerHelper" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:exported="true" />
        <receiver android:name=".ToggleReceiver" android:exported="true"> <intent-filter> <action android:name="com.manhmoc.edgebar.TOGGLE_LOCK" /> <action android:name="com.manhmoc.edgebar.TOGGLE_HOME" /> </intent-filter> </receiver>
        <service android:name=".EdgeBarService" android:exported="true" android:label="Edge Bar Trợ Năng" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"> <intent-filter> <action android:name="android.accessibilityservice.AccessibilityService" /> </intent-filter> <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service_config" /> </service>
        <service android:name=".HomescreenService" android:exported="false" />
        <service android:name=".RecorderService" android:exported="false" />
        <service android:name=".QsLockTile" android:label="EB Trợ Năng" android:icon="@android:drawable/ic_lock_lock" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"> <intent-filter> <action android:name="android.service.quicksettings.action.QS_TILE" /> </intent-filter> </service>
        <service android:name=".QsHomeTile" android:label="EB Màn Chính" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true"> <intent-filter> <action android:name="android.service.quicksettings.action.QS_TILE" /> </intent-filter> </service>
        <service android:name=".Tile1" android:label="EB QS TILE 1" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
        <service android:name=".Tile2" android:label="EB QS TILE 2" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
        <service android:name=".Tile3" android:label="EB QS TILE 3" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
        <service android:name=".Tile4" android:label="EB QS TILE 4" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
        <service android:name=".Tile5" android:label="EB QS TILE 5" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
        <service android:name=".Tile6" android:label="EB QS TILE 6" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
        <service android:name=".Tile7" android:label="EB QS TILE 7" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
        <service android:name=".Tile8" android:label="EB QS TILE 8" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
        <service android:name=".Tile9" android:label="EB QS TILE 9" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
        <service android:name=".Tile10" android:label="EB QS TILE 10" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
        <service android:name=".Tile11" android:label="EB QS TILE 11" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
        <service android:name=".Tile12" android:label="EB QS TILE 12" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
        <service android:name=".Tile13" android:label="EB QS TILE 13" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
        <service android:name=".Tile14" android:label="EB QS TILE 14" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
        <service android:name=".Tile15" android:label="EB QS TILE 15" android:icon="@android:drawable/ic_menu_crop" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true"><intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter></service>
    </application></manifest>
